# Emulator
# --------
# NETWORK=emulator
# RPC_ADDRESS=localhost:3569
# OWNER_SK=9c687961e7a1abe1e445830e7ec118ffd1e2a0449cf705f5476b3f100e94dc29
# OWNER_PK=46acb0e0918e09a50fc2a6b12f14fc00822ad7dac6c6fd92427ec675b9745cbe5ae93d790e6fdd0683d7dd17b6156cc4201def8d6a992807796a5ce4a789005f
# OWNER_ADDRESS=01cf0e2f2f715450
# FUNGIBLE_TOKEN_ADDRESS=ee82856bf20e2aa6

# Testnet
# -------
NETWORK=testnet
RPC_ADDRESS=access.devnet.nodes.onflow.org:9000
OWNER_ADDRESS=
FUNGIBLE_TOKEN_ADDRESS=9a0766d93b6608b7

TESTNET_OWNER=
TESTNET_ALLOWANCE=
TESTNET_BLOCKLISTER=
TESTNET_MINTER=
TESTNET_MINTERCONTROLLER1=
TESTNET_MINTERCONTROLLER2=
TESTNET_NON_ALLOWANCE=
TESTNET_NON_BLOCKLISTER=
TESTNET_NON_MINTER=
TESTNET_NON_MULTISIG_ACCOUNT=
TESTNET_NON_PAUSER=
TESTNET_NON_VAULTED_ACCOUNT=
TESTNET_PAUSER=
TESTNET_VAULTED_ACCOUNT=
TESTNET_W_1000=
TESTNET_W_500_1=
TESTNET_W_500_2=
TESTNET_W_250_1=
TESTNET_W_250_2=

PK_TESTNET_OWNER=
PK_TESTNET_ALLOWANCE=
PK_TESTNET_BLOCKLISTER=
PK_TESTNET_MINTER=
PK_TESTNET_MINTERCONTROLLER1=
PK_TESTNET_MINTERCONTROLLER2=
PK_TESTNET_NON_ALLOWANCE=
PK_TESTNET_NON_BLOCKLISTER=
PK_TESTNET_NON_MINTER=
PK_TESTNET_NON_MULTISIG_ACCOUNT=
PK_TESTNET_NON_PAUSER=
PK_TESTNET_NON_VAULTED_ACCOUNT=
PK_TESTNET_PAUSER=
PK_TESTNET_VAULTED_ACCOUNT=
PK_TESTNET_W_1000=
PK_TESTNET_W_500_1=
PK_TESTNET_W_500_2=
PK_TESTNET_W_250_1=
PK_TESTNET_W_250_2=
