# Emulator
# --------
# NETWORK=emulator
# RPC_ADDRESS=localhost:3569
# OWNER_ADDRESS=01cf0e2f2f715450
# FUNGIBLE_TOKEN_ADDRESS=ee82856bf20e2aa6

# Testnet
# -------
NETWORK=testnet
RPC_ADDRESS=access.devnet.nodes.onflow.org:9000
OWNER_ADDRESS=1ab3c177460e1e4a
FUNGIBLE_TOKEN_ADDRESS=9a0766d93b6608b7

# Private keys for the following accounts on testnet
TESTNET_OWNER=
TESTNET_ALLOWANCE=
TESTNET_BLOCKLISTER=
TESTNET_MINTER=
TESTNET_MINTERCONTROLLER1=
TESTNET_MINTERCONTROLLER2=
TESTNET_NON_ALLOWANCE=
TESTNET_NON_BLOCKLISTER=
TESTNET_NON_MINTER=
TESTNET_NON_MULTISIG_ACCOUNT=
TESTNET_NON_PAUSER=
TESTNET_NON_VAULTED_ACCOUNT=
TESTNET_PAUSER=
TESTNET_VAULTED_ACCOUNT=
TESTNET_W_1000=
TESTNET_W_500_1=
TESTNET_W_500_2=
TESTNET_W_250_1=
TESTNET_W_250_2=
