---
name: Static Analysis

on:
  push:
    branches: [main]
  pull_request:

jobs:
  vet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: go vet
        working-directory: ./lib/go
        run: go vet ./...

  gofmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - uses: Jerome1337/gofmt-action@v1.0.4
        with:
          gofmt-flags: '-l -d'

  go-linting:
    name: linting (Go)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          working-directory: ./lib/go

  markdown-linting:
    name: linting (Markdown)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: markdownlint
        run: |
          npm install markdownlint markdownlint-cli
          npx markdownlint --ignore node_modules **/*.md
